.about {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.h4 {
    text-transform: capitalize;
    text-decoration-color: yellowgreen;
    color: navy;
}
b {
    color : green;
}
